<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Manifesto Example App</title>
    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/lib/manifesto/dist/manifesto.client.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>

{{{body}}}

<script>
    $(function() {
       $('h1').append(", " + manifesto.sayHello("from client"));
    });
</script>

</body>
</html>