<h1>{{title}}</h1>

<div>
    <input id="manifest" type="text" placeholder="Manifest Uri" value="http://localhost:3000/data/manifest.json" />
    <button id="load-client-btn">Load (Client)</button>
    <button id="load-server-btn">Load (Server)</button>
    <br><br>
</div>

<div id="manifest-txt">

</div>

<script>
    $(function() {

        $('#load-client-btn').on('click', function(e) {
            e.preventDefault();
            var manifestUri = $('#manifest').val();
            manifesto.load(manifestUri, function(manifest){
                manifest = manifesto.parse(manifest);
                $('#manifest-txt').append(manifest.getLabel());
            });
        });

        $('#load-server-btn').on('click', function(e) {
            e.preventDefault();
            var manifestUri = $('#manifest').val();
            window.location.href = "/load/" + encodeURIComponent(manifestUri);
        });
    });
</script>